@using System.Drawing
@using System.Net.WebSockets
@using DevExpress.Data.Browsing
@using LiteInvestMainFront.Data
@using LiteInvestServer.Json
@using PlazaEngine.Entity
@using Websocket.Client
@using Orientation = DevExpress.Blazor.Orientation
@implements IDisposable;
@inject IJSRuntime JSRuntime

<style>
	.cardnew {
		height: 800px;
	}
	/* Общие стили для WorkWindow */
	.workwindow-container {
		background-color: #f5f5f5;
		border: 1px solid #ddd;
		border-radius: 5px;
		min-height: 250px;
	}

	.telerik-table {
		padding: 0px;
	}

	.k-grid-md td, .k-grid-md .k-table-td {
		padding-block: 0px !important;
		padding-inline: 0px !important;
	}
	/* Стили для контейнера с таблицей */
	.table-container {
		height: 90vh;
		scrollbar-width: thin;
		overflow-y: auto; /* Включаем вертикальный скроллинг */
	}

	/* Стили для самой таблицы */
	.telerik-grid {
		width: 100%;
		height: 100%;
	}

		/* Стили для контента таблицы */
		.telerik-grid .k-grid-content {
			overflow-y: auto; /* Включаем вертикальный скроллинг в таблице */
		}

	/* Заголовок WorkWindow */
	.workwindow-container h3 {
		margin-top: 0;
		font-size: 18px;
		color: #333;
		font-weight: bold;
	}

	/* Стили для TileLayout (если нужно стилизовать плитки) */
	.telerik-tilelayout-item {
		min-width: 285px;
		min-height: 285px;
		margin-bottom: 15px;
	}

	.tile-content {
		background-color: #fff;
		border-radius: 5px;
	}

	.k-grid-content {
		scrollbar-width: none;
	}

	.k-grid-header {
		padding-inline-end: 0px !important;
	}
	/* Дополнительные улучшения для внешнего вида */
	.telerik-grid .k-header {
		background-color: #f0f0f0;
		color: #333;
		text-align: center;
		font-weight: bold;
	}

	.telerik-grid .k-grid-header {
		border-bottom: 1px solid #ddd;
	}

	.telerik-grid .k-grid-table {
		border-spacing: 0;
		border-collapse: collapse;
	}

		.telerik-grid .k-grid-table td,
		.telerik-grid .k-grid-table th {
			text-align: center;
			border: 1px solid #ddd;
		}

	.k-card-body {
		padding: 0px;
		padding-block: 0 !important;
		padding-inline: 0 !important;
	}
	/*.k-tilelayout-item-header{
				display: none;
			}*/
	.k-grid-content {
		padding: 0px;
	}

	.k-tilelayout-item-body k-card-body {
		padding: 0px;
	}
	/* Убираем паддинги для всего TileLayout */
	.telerik-tilelayout {
		padding: 0;
	}

	.gridlayout-item {
		font-size: 1.2em;
		font-weight: 500;
		text-align: center;
		width: 100%;
		height: 800px;
		text-align: center;
		position: relative;
		z-index: 0;
		display: flex;
		align-items: start;
		justify-content: start;
	}

		.gridlayout-item:before {
			content: " ";
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			opacity: 0.4;
		}

	.gridlayout-header:before {
		background-color: var(--bs-red);
	}

	.gridlayout-content:before {
		background-color: var(--bs-yellow);
	}

	.gridlayout-left-side-bar:before {
		background-color: var(--bs-green);
	}

	.gridlayout-right-side-bar:before {
	}

	.gridlayout-footer:before {
		background-color: var(--bs-blue);
		opacity: 0.5;
	}

	.dxgrid {
		height: 100%;
	}


	.dxbl-grid {
		--dxbl-grid-font-size: 10px;
	}

	.chart {
		height: 80vh;
	}

	.highlighted-item {
		background-color: var(--bs-danger-bg-subtle)
	}

	.card-body {
		padding: 0;
	}

	.highlighted-item2 {
		background-color: var(--bs-success-bg-subtle)
	}

</style>


<TelerikGridLayout>
	<GridLayoutColumns>
		<Telerik.Blazor.Components.GridLayoutColumn Width="33.33%"/>
		<Telerik.Blazor.Components.GridLayoutColumn Width="33.33%"/>
		<Telerik.Blazor.Components.GridLayoutColumn Width="33.33%"/>
	</GridLayoutColumns>

	<GridLayoutRows>
		<Telerik.Blazor.Components.GridLayoutRow />
	</GridLayoutRows>
	<GridLayoutItems>
		<Telerik.Blazor.Components.GridLayoutItem Row="1" Column="1">
			<TelerikGrid Size="Small" Class="telerik-table" Data="@Quotes">
				<GridColumns>
					<Telerik.Blazor.Components.GridColumn Field="Volume" HeaderClass="d-none" />
					<Telerik.Blazor.Components.GridColumn Field="Price" HeaderClass="d-none" />
				</GridColumns>
			</TelerikGrid>
		</Telerik.Blazor.Components.GridLayoutItem>
		<Telerik.Blazor.Components.GridLayoutItem Row="1" Column="2">

			<DxChart CssClass="chart"
					 CustomizeSeriesPoint="@PrepareSeriesPoint"
					 @ref="Chart"
					 Data="Ticks"
					 Width="100%"
					 LabelOverlap="ChartLabelOverlap.Hide">
				<DxChartLineSeries Name="ticksLineSeries"
								   T="Trade"
								   TArgument="DateTime"
								   TValue="decimal"
								   ArgumentField="si => si.Time"
								   ValueField="si => si.Price"
								   HoverMode="ChartContinuousSeriesHoverMode.Series">

					<DxChartLegend Visible="false" />

					<!--<DxChartSeriesPoint Visible="true"
									HoverMode="ChartSeriesPointHoverMode.None" />-->
					<!--<DxChartSeriesLabel Visible="true"
									ValueFormat="ChartElementFormat.Thousands(1)" />-->
				</DxChartLineSeries>

				<DxChartArgumentAxis Visible="false">
					<DxChartAxisLabel Visible="false" />
					<DxChartAxisTick Visible="false" />
					<DxChartAxisMinorTick Visible="false" />
					<DxChartAxisGridLines Visible="true" />
				</DxChartArgumentAxis>

				<DxChartValueAxis Visible="false">
					<DxChartAxisLabel Visible="false" />
					<DxChartAxisTick Visible="false" />
					<DxChartAxisMinorTick Visible="false" />
					<DxChartAxisGridLines Visible="true" />
					<DxChartAxisRange StartValue="@minchart" EndValue="@maxchart" />
				</DxChartValueAxis>
			</DxChart>
		</Telerik.Blazor.Components.GridLayoutItem>
		<Telerik.Blazor.Components.GridLayoutItem Row="1" Column="3">
			@* 			<DxGrid CssClass="dxgrid"
			@ref=Grid
			Data="@Quotes"
			ShowAllRows="true"
			ColumnResizeMode="GridColumnResizeMode.NextColumn"
			TextWrapEnabled="false"
			CustomizeElement="Grid_CustomizeElement"
			ShowGroupPanel="false"
			HighlightRowOnHover="true"
			FocusedRowEnabled="true">

			<Columns>
			<DxGridDataColumn FieldName="Volume" />
			<DxGridDataColumn FieldName="Price"/>
			<DxGridDataColumn FieldName="Type" Width="0" Visible="false" />
			</Columns>
			</DxGrid> *@
			<TelerikGrid Resizable="true" Size="Small" Class="telerik-table" Data="@Quotes">
				<GridColumns>
					<Telerik.Blazor.Components.GridColumn Field="Volume" HeaderClass="d-none" />
					<Telerik.Blazor.Components.GridColumn Field="Price" HeaderClass="d-none" />
				</GridColumns>
				<RowTemplate Context="Quotes">
					<td class="@(Quotes.Type == Side.Sell ? "highlighted-item" : "highlighted-item2")">
						@Quotes.Volume
					</td>
					<td class="@(Quotes.Type == Side.Sell ? "highlighted-item" : "highlighted-item2")">
						@Quotes.Price
					</td>
				</RowTemplate>
			</TelerikGrid>
		</Telerik.Blazor.Components.GridLayoutItem>
	</GridLayoutItems>
</TelerikGridLayout>

@*
<div class="card cardnew">
	<div class="card-header">
		@secutityMain.Isin
		<button type="button" class="buttonclose btn-close" aria-label="Close" @onclick="OnClosingMain"></button>
	</div>
	<div class="card-body">

		<DxGridLayout CssClass="w-100 ch-480">
			<Rows>
				<DxGridLayoutRow />
				<DxGridLayoutRow Height="auto" />
			</Rows>
			<Columns>
				<DxGridLayoutColumn />
				<DxGridLayoutColumn />
				<DxGridLayoutColumn />
			</Columns>
			<Items>
				<DxGridLayoutItem Row="0" Column="0">
					<Template>
						<div class="gridlayout-item">
							Clasters
						</div>
					</Template>
				</DxGridLayoutItem>

				<DxGridLayoutItem Row="0" Column="1">
					<Template>
						<div class=" gridlayout-item">
							<DxChart CssClass="chart"
									 CustomizeSeriesPoint="@PrepareSeriesPoint"
									 @ref="Chart"
									 Data="Ticks"
									 Width="100%"
									 LabelOverlap="ChartLabelOverlap.Hide">
								<DxChartLineSeries Name="ticksLineSeries"
												   T="Trade"
												   TArgument="DateTime"
												   TValue="decimal"
												   ArgumentField="si => si.Time"
												   ValueField="si => si.Price"
												   HoverMode="ChartContinuousSeriesHoverMode.Series">

									<DxChartLegend Visible="false" />

									<!--<DxChartSeriesPoint Visible="true"
													HoverMode="ChartSeriesPointHoverMode.None" />-->
									<!--<DxChartSeriesLabel Visible="true"
													ValueFormat="ChartElementFormat.Thousands(1)" />-->
								</DxChartLineSeries>

								<DxChartArgumentAxis Visible="false">

									<DxChartAxisTick Visible="false" />
									<DxChartAxisMinorTick Visible="false" />

									<DxChartAxisGridLines Visible="true" />

								</DxChartArgumentAxis>


								<DxChartValueAxis Visible="false">

									<DxChartAxisTick Visible="false" />
									<DxChartAxisMinorTick Visible="false" />

									<DxChartAxisGridLines Visible="true" />

									<DxChartAxisRange StartValue="@minchart" EndValue="@maxchart" />
								</DxChartValueAxis>
							</DxChart>
						</div>
					</Template>
				</DxGridLayoutItem>

				<DxGridLayoutItem Row="0" Column="2">
					<Template>
						<div class=" gridlayout-item">
							<DxGrid CssClass="dxgrid"
									@ref=Grid
									Data="@Quotes"
									ShowAllRows="true"
									ColumnResizeMode="GridColumnResizeMode.NextColumn"
									TextWrapEnabled="false"
									CustomizeElement="Grid_CustomizeElement"
									ShowGroupPanel="false"
									HighlightRowOnHover="true"
									FocusedRowEnabled="true">

								<Columns>
									<DxGridDataColumn FieldName="Volume" Width="30px" />
									<DxGridDataColumn FieldName="Price" Width="30px" />
									<DxGridDataColumn FieldName="Type" Width="0" Visible="false" />
								</Columns>
							</DxGrid>
						</div>
					</Template>
				</DxGridLayoutItem>
			</Items>
		</DxGridLayout>
	</div>
</div> *@


@code {
	DxChart<Trade> Chart;

	IGrid Grid;
	//А вдруг у меня все получится
	//Влруг я буду прав

	List<Trade> Ticks { get; set; } = new List<Trade>();

	[Parameter]
	public Action<SecurityApi>? OnClosing { get; set; }

	[Parameter]
	public SecurityApi secutityMain { get; set; }

	[Parameter]
	public ApiDataService ApiDataService { get; set; }

	decimal minchart = 10000;
	decimal maxchart = 12000;

	public List<WebsocketClient> WebSockets { get; set; }

	int levelsFromBest = 20;

	int i = 1;
	int orderbookcount = 0;
	int start = 0;

	public DateTime dt { get; set; }

	protected override async Task<Task> OnInitializedAsync()
	{
		if (secutityMain == null)
			return base.OnInitializedAsync();

		WebSockets = new List<WebsocketClient>();



		dt = DateTime.Now;
		ApiDataService.NewMarketDepth += OnNewMarketDepth;
		ApiDataService.NewTicks += OnNewTicks;

		WebSockets.Add(await ApiDataService.SubscribeOrderBook(secutityMain.id));
		WebSockets.Add(await ApiDataService.SubcribeTick(secutityMain.id));

		return base.OnInitializedAsync();
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await JSRuntime.InvokeVoidAsync("getScrollEvent");
		}
	}

	private async void OnNewMarketDepth(MarketDepthLevel bestbid, string secinstrument, IEnumerable<MarketDepthLevel> md)
	{

		try
		{

			if (secinstrument != secutityMain.id) return;

			if (md == null)
				return;

			Quotes = md;

			//TODO - при масштабированини этот уровень лучше менять.
			maxchart = bestbid.Price + levelsFromBest * secutityMain.PriceStep;
			minchart = bestbid.Price - levelsFromBest * secutityMain.PriceStep;

			Console.WriteLine($"MD recevied {secutityMain.id} NAME={secutityMain.Isin}");

			var dictionary = Quotes.Select(t => new { t.Price, t })
				.ToDictionary(t => t.Price, t => t);


			//int visibleitem = Grid.GetStartRowVisibleIndex();
			//Console.WriteLine("видимая строка " + Quotes.ToArray()[visibleitem].Price + $@"к1={Grid.GetVisibleRowCount()} к2={Quotes.Count()}");

			await InvokeAsync(() =>
			{
				try
				{

					orderbookcount++;


					/*
					if (orderbookcount < 3)
						{
						//Console.WriteLine($"{DateTime.Now} New Quotes!");
						if (dictionary.ContainsKey(maxchart))
							{
							Console.WriteLine($"Scroll to {maxchart}!");
							ScrollToLastRow1(dictionary[maxchart].t);
						}

						if (dictionary.ContainsKey(minchart))
							{
							Console.WriteLine($"Scroll to {minchart}!");
							ScrollToLastRow1(dictionary[minchart].t);
						}
					}*/

					StateHasChanged();
				}
				catch (Exception ex)
				{

				}
			});
		}
		catch (Exception ex)
		{

		}
	}

	private async void OnNewTicks(string secinstrument, List<TradeApi> ticks)
	{
		if (secinstrument != secutityMain.id) return;

		if (ticks == null)
			return;

		Console.WriteLine(ticks[0].SecurityId + " new tick !" + ticks[0].Price);

		foreach (var tick in ticks)
		{
			start++;
			Ticks.Add(new Trade()
				{
					Price = tick.Price, //Quotes.ToArray()[new Random().Next(1, Quotes.Count())].Price,
					Time = dt + TimeSpan.FromSeconds(start),
					Volume = tick.Volume,
					Side = tick.Side
				});

			if (Ticks.Count > 15) Ticks.RemoveAt(0);
		}

		await InvokeAsync(() => { Chart.RefreshData(); });
	}


	//TODO: Тут надо подумать конечно.
	void ScrollToLastRow1(MarketDepthLevel level)
	{
		Grid.MakeDataItemVisibleAsync(level);

		Console.WriteLine("visible row " + Grid.GetStartRowVisibleIndex());
	}

	void ScrollToLastRow(int count)
	{
		Console.WriteLine($"{count} scroll");
		Grid.MakeRowVisible(count);

	}

	void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
	{

		if (e.ElementType == GridElementType.DataRow && (PlazaEngine.Entity.Side)e.Grid.GetRowValue(e.VisibleIndex, "Type") == Side.Sell)
		{
			e.CssClass = "highlighted-item";
		}

		if (e.ElementType == GridElementType.DataRow && (PlazaEngine.Entity.Side)e.Grid.GetRowValue(e.VisibleIndex, "Type") == Side.Buy)
		{
			e.CssClass = "highlighted-item2";
		}


	}

	protected void PrepareSeriesPoint(ChartSeriesPointCustomizationSettings pointSettings)
	{
		//всегда 1 элемент
		var t = (Trade)pointSettings.Point.DataItems.ToArray()[0];

		//показывать объём сверху
		pointSettings.PointLabel.Texts = new string[] { t.Volume.ToString() };
		pointSettings.PointLabel.Visible = true;

		//кружок
		pointSettings.PointAppearance.Symbol = ChartPointSymbol.Circle;

		//TODO: Исправить размеры - сделать адаптивными
		//TODO: написать логику расчета адаптивных элементов
		pointSettings.PointAppearance.Size = 1;

		if (t.Side == Side.Sell)
			pointSettings.PointAppearance.Color = Color.Red;
		else if (t.Side == Side.Buy)
			pointSettings.PointAppearance.Color = Color.Green;

	}


	async Task<Task> OnClosingMain()
	{
		ApiDataService.StopOrderBookProcesor(secutityMain.id);

		foreach (var webSocket in WebSockets)
		{
			try
			{
				var r = await webSocket.StopOrFail(WebSocketCloseStatus.NormalClosure, "Закрыта вкладка");

				if (!r)
				{

				}
			}
			catch (Exception ex)
			{
				Console.WriteLine(ex.Message);
			}
		}
		//TODO: Сделать отписку по инструментам и полный Dispose

		OnClosing?.Invoke(secutityMain);
		return Task.CompletedTask;
	}

	Orientation currentOrientation;
	IEnumerable<MarketDepthLevel> Quotes;

	string messageConnection { get; set; }

	void IDisposable.Dispose()
	{
		ApiDataService.NewMarketDepth -= OnNewMarketDepth;
		ApiDataService.NewTicks -= OnNewTicks;
	}
}

<script>
	function getScrollEvent() {
		let targetElements = document.querySelectorAll(".k-grid-content");

		targetElements.forEach(function (targetElement) {
			targetElement.addEventListener('scroll', (event) => {
				console.log("grid scrolling");
			});
		});
	}

</script>